@{
    ViewData["Title"] = "DashBoard";
}
@* <div class="text-center">
    <h1 class="display-4">DashBoard</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<div class="search-header">
    <h2 class="dashboard-title">Dashboard</h2>
    <div class="search-container">
        <div class="form">
            <i class="fa fa-search"></i>
            <input type="text" class="form-control form-input" placeholder="Search Book">
        </div>
    </div>
</div>

<div class="dashboard-body">
    <div class="dashboard-content">
        <div class="dashboard-text">
            <h3>Upload Your Books, Create <br> Your Library</h3>
            <button class="add-button">
                Add New Book <i class="fa fa-plus"></i>
            </button>
        </div>
        <div class="dashboard-image">
            <img src="~/img/dashboard-girl.png" alt="Dashboard Girl">
        </div>
    </div>
</div>

<div class="new-book-body">
    <h2 class="new-book-title">New Book</h2>
    <a href="#" class="view-all-link">See More</a>
    <div class="book-containers">
        <div class="book-container">
            <img src="~/img/book-test.png" alt="Book 1">
            <h4>Title of Book 1</h4>
            <p>Author 1</p>
            <div class="star-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
        </div>
        <div class="book-container">
            <img src="~/img/book-test.png" alt="Book 2">
            <h4>Title of Book 2</h4>
            <p>Author 2</p>
            <div class="star-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
        </div>
        <div class="book-container">
            <img src="~/img/book-test.png" alt="Book 3">
            <h4>Title of Book 3</h4>
            <p>Author 3</p>
            <div class="star-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
        </div>
        <div class="book-container">
            <img src="~/img/book-test.png" alt="Book 4">
            <h4>Title of Book 4</h4>
            <p>Author 4</p>
            <div class="star-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
        </div>
        <div class="book-container">
            <img src="~/img/book-test.png" alt="Book 5">
            <h4>Title of Book 5</h4>
            <p>Author 5</p>
            <div class="star-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
        </div>
    </div>
</div>

<div class="book-list-body">
    <h2 class="new-book-title">Book List</h2>

</div>


